src/main/resources/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="test"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
	targetNamespace="http://services.camins.cyber.ee/" xmlns:tns="http://services.camins.cyber.ee/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://services.camins.cyber.ee/">
			<xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
				schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
			<xsd:complexType name="ResponseFields">
				<xsd:sequence>
					<xsd:element type="xsd:string" name="reply" minOccurs="0"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>Simple reply for test service</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="QueryFields">
				<xsd:sequence>
					<xsd:element type="xsd:string" name="query"
						 minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>Simple query for test service</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="test" type="tns:QueryFields" />
			<xsd:element name="testResponse" type="tns:ResponseFields" />
			<xsd:element name="anotherTest" type="tns:QueryFields" />
			<xsd:element name="anotherTestResponse" type="tns:ResponseFields" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="requestHash" element="xrd:requestHash" />
		<wsdl:part name="issue" element="xrd:issue" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
	</wsdl:message>

	<wsdl:message name="test">
		<wsdl:part name="body" element="tns:test" />
	</wsdl:message>

	<wsdl:message name="testResponse">
		<wsdl:part name="body" element="tns:testResponse" />
	</wsdl:message>

	<wsdl:message name="anotherTest">
		<wsdl:part name="body" element="tns:anotherTest" />
	</wsdl:message>

	<wsdl:message name="anotherTestResponse">
		<wsdl:part name="body" element="tns:anotherTestResponse" />
	</wsdl:message>

	<wsdl:portType name="testPortType">
		<wsdl:operation name="test">
			<wsdl:input message="tns:test" />
			<wsdl:output message="tns:testResponse" />
		</wsdl:operation>

		<wsdl:operation name="anotherTest">
			<wsdl:input message="tns:anotherTest" />
			<wsdl:output message="tns:anotherTestResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testBinding" type="tns:testPortType">
		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="test">
			<soap:operation soapAction="" style="document" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="service"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
							 use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="service"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="requestHash"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
							 use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="anotherTest">
			<soap:operation soapAction="" style="document" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="service"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
							 use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="service"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="requestHash"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
							 use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
							 use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="testService">
		<wsdl:port binding="tns:testBinding" name="testPort">
			<soap:address location="http://INSERT_CORRECT_SERVICE_URL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
